<td class="p-3">
  <div class="d-flex justify-content-between mb-3">
    <div>
      <b *ngIf="rowData.author && rowData.Anonymous !== true">
        {{rowData.author}}<span *ngIf="rowData.location">, {{rowData.location}}</span>
      </b>
      <b *ngIf="rowData.author == null || rowData.Anonymous">Anonymous</b>
    </div>
    <div>
      {{(rowData.dateAdded | date:'longDate') || "-"}}
    </div>
  </div>

  <div *ngIf="rowData.comment">
    <p *ngIf="rowData.expanded">{{rowData.comment}}</p>
    <p *ngIf="!rowData.expanded" class="comment-truncated">{{rowData.comment}}</p>
    <button *ngIf="!rowData.expanded && hasOverflow()" class="btn btn-link clickable p-0" (click)="toggle(rowData); $event.stopPropagation()">
      Read More
    </button>
    <button *ngIf="rowData.expanded" class="btn btn-link clickable p-0" (click)="toggle(rowData); $event.stopPropagation()">
      Read Less
    </button>
  </div>

  <div *ngIf="rowData.documents && rowData.documents.length > 0" class="mt-2">
    <div class="attachment clickable" *ngFor="let file of rowData.documents" (click)="openAttachment(file); $event.stopPropagation()">
      <i class="material-icons">attach_file</i>{{file.internalOriginalName}}
    </div>
  </div>
</td>
