<td class="p-3">
  <div class="mb-2">
    @if (rowData.author && rowData.isAnonymous !== true) {
      <b>
        {{rowData.author}}@if (rowData.location) {
        <span>, {{rowData.location}}</span>
      }
    </b>
  }
  @if (rowData.author === null || rowData.isAnonymous) {
    <b>Anonymous</b>
  }
</div>

<div class="text-muted mb-3">
  {{(rowData.dateAdded | date:'longDate') || "-"}}
</div>

@if (rowData.comment) {
  <div>
    @if (rowData.expanded) {
      <p>{{rowData.comment}}</p>
    }
    @if (!rowData.expanded) {
      <p class="comment-truncated">{{rowData.comment}}</p>
    }
    @if (!rowData.expanded && hasOverflow()) {
      <button class="btn btn-link clickable p-0" (click)="toggle(rowData); $event.stopPropagation()">
        Read More
      </button>
    }
    @if (rowData.expanded) {
      <button class="btn btn-link clickable p-0" (click)="toggle(rowData); $event.stopPropagation()">
        Read Less
      </button>
    }
  </div>
}

@if (rowData.documents && rowData.documents.length > 0) {
  <div class="mt-2">
    @for (file of rowData.documents; track file) {
      <div class="attachment clickable" 
           role="button"
           tabindex="0"
           (click)="openAttachment(file); $event.stopPropagation()"
           (keydown.enter)="openAttachment(file); $event.stopPropagation()"
           (keydown.space)="openAttachment(file); $event.stopPropagation()">
        <i class="material-icons">attach_file</i>{{file.internalOriginalName}}
      </div>
    }
  </div>
}
</td>
