.pagination {
  text-align: center;

  .btn-group {
    margin: 0 auto;
  }
}

.pg-count {
  padding: 0.75rem;
}

.pg-btn {
  border-radius: 0;

  i {
    margin-top: -0.1rem;
  }
}

.ngx-pagination {
	padding-left: 0;
}
.ngx-pagination .current {
  background-color: #38598a !important;
  border-color: #38598a !important;
}

.ngx-pagination .current:hover {
  background-color: #2c4569 !important;
  border-color: #2c4569 !important;
}