<div class="hero-banner hb-sm">
    <div class="container">
      <div class="container-inner">
        <div class="hero-banner__content">
          <h1>Legislation</h1>
          <p>Learn about the legislation and regulations that apply to environmental assessments in the province of British Columbia.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="bg-white">
    <div class="container static-content" id="anchor-point">
      <div class="row">
        <main class="mb-0">
          <section>
            <p>The Environmental Assessment Act and associated regulations set a clear path for environmental assessment in British Columbia, a process that is undertaken by the Environmental Assessment Office.</p>
            <p>On December 16th, 2019, the new Environmental Assessment Act (2018) came into force. Many projects with an environmental assessment already underway will continue under the old Act (2002) process, while any new projects after December 16th, 2019 will undergo an environmental assessment under the new Act (2018) process. Each process has its own unique regulation and agreements.</p>
          </section>

          <a class="btn content-btn-dark page-bottom-btn" title="View more information" href="https://www2.gov.bc.ca/gov/content?id=1D2FF7DF6672482A84705D2519574C27"> 2002 Environmental Assessment Act </a>
          <a class="btn content-btn-dark page-bottom-btn" title="View more information" href="https://www2.gov.bc.ca/gov/content?id=B5737A3A620146219ABED73B5066DEC6"> 2018 Environmental Assessment Act </a>

        </main>
      </div>
    </div>
  </section>
