<app-hero-banner
  [title]="heroBannerTitle"
  [description]="heroBannerDescription"
  [actions]="heroBannerActions"
/>

<section class="py-5">
  <div class="container" id="anchor-point">
    <div class="content-wrapper">
      <p>The Environmental Assessment Act and associated regulations set a clear path for environmental assessment in British Columbia, a process that is undertaken by the Environmental Assessment Office.</p>
      <p>On December 16th, 2019, the new Environmental Assessment Act (2018) came into force. Many projects with an environmental assessment already underway will continue under the old Act (2002) process, while any new projects after December 16th, 2019 will undergo an environmental assessment under the new Act (2018) process. Each process has its own unique regulation and agreements.</p>
    </div>
  </div>
</section>
