<footer class="app-footer" id="footer"
  [class.app-footer--sm]="router.url.startsWith('/projects')">
  <div class="container">
<!--     <div class="footer-info row">
      <div class="col-md-4">
        <section>
          <h4>Navigate</h4>
          <ul class="nav-links">
            <li><a routerLink="/projects">Find Environmental Assessment Projects</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
          </ul>
        </section>
      </div>
      <div class="col-md-8">
        <section>
          <h4>More Information</h4>
          <p class="mb-0">EPIC</p>
        </section>
      </div>
    </div> -->
    <div class="footer-admin clearfix">
      <ul class="gov-links">
        <li><a href="#">Home</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank" rel="noopener">Copyright</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank" rel="noopener">Disclaimer</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank" rel="noopener">Privacy</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank" rel="noopener">Accessibility</a></li>
        <li><a [href]="api.adminUrl" class="gtm-admin-login" target="_blank" rel="noopener">Admin Login</a></li>
      </ul>
    </div>
  </div>
</footer>
