<div class="spinner-container" *ngIf="loading">
  <div class="spinner-new rotating"></div>
</div>

<main *ngIf="!loading">
  <div class="container">
    <div class="hero-banner__content">
      <h1>Environmental Assessments in British Columbia</h1>
      <p>Use the list below to navigate Notification Projects. A Notification Project is xxxxxx</p>
    </div>
  </div>

  <section *ngIf="tableParams.totalListItems > 0" class="project-list table-container">
    <div class="container">
      <h1>Notification Projects</h1>
      <br>
      <app-table-template [columns]="[]" [data]="tableData">
      </app-table-template>
    </div>
  </section>
</main>