<div class="spinner-container" *ngIf="loading">
  <div class="spinner-new rotating"></div>
</div>

<main *ngIf="!loading">
  <div class="container">
    <div class="hero-banner__content">
      <h1>Project Notifications in British Columbia</h1>
      <p>Use the list below to navigate Notification Projects. A Notification Project is required if a proposed project meets the notification thresholds in the Reviewable Projects Regulation, indicating that while the project is not automatically reviewable, it may have the potential to cause adverse effects and warrants further review to determine if the project requires and Environmental Assessment Certificate. <a href='http://google.ca' target='_blank'>Learn More</a></p>
    </div>
  </div>

  <section *ngIf="tableParams.totalListItems > 0" class="project-list table-container">
    <div class="container">
      <h1>Project Notifications</h1>
      <br>
      <app-table-template [columns]="[]" [data]="tableData">
      </app-table-template>
    </div>
  </section>
</main>
