<tr tabindex="0"
  (keyup.enter)="goToProject(rowData)">
  <td scope="row"
    (click)="goToProject(rowData)"
    data-label="Name"
    class="col-2">{{rowData.name || '-'}}</td>
  <td scope="row"
    (click)="goToProject(rowData)"
    data-label="Proponent"
    class="col-2">{{rowData.proponent?.name || '-'}}</td>
  <td scope="row"
    (click)="goToProject(rowData)"
    data-label="Type"
    class="col-2">{{rowData.type || '-'}}</td>
  <td scope="row"
    (click)="goToProject(rowData)"
    data-label="Region"
    class="col-2">{{rowData.region || '-'}}</td>
  <td scope="row"
    (click)="goToProject(rowData)"
    data-label="Phase"
    class="col-2">{{rowData.currentPhaseName?.name || '-'}}</td>
  <td scope="row"
    (click)="goToProject(rowData)"
    data-label="Decision"
    class="col-2">{{rowData.eacDecision?.name}}</td>
</tr>