.tab-section {
    overflow-y: auto;
    font-size: var(--bs-font-size-6);
    >div {
        margin: 1em;
    }
    .status {
        text-align: right;
        font-size: var(--bs-font-size-5);
        font-weight: bold;
    }
    .title {
        font-size: var(--bs-font-size-5);
        font-weight: bold;
        color: var(--primary-color);
        margin-bottom: 5px;
    }
    a {
        display: inline-flex;
    }
}
