<div class="form-group">
    <!-- Filter definition for filters with group options -->
    @if (filter().filterDefinition.group) {
        <app-custom-multi-select
            [id]="filter().name"
            [name]="filter().name"
            [multiple]="true"
            bindLabel="name"
            [groupBy]="filter().filterDefinition.group.name"
            [placeholder]="'Type ' + filter().name"
            (add)="onChange()"
            [items]="filter().filterDefinition.options"
            [markFirst]="false"
            [closeOnSelect]="false"
            [(ngModel)]="filter().filterDefinition.selectedOptions"
            [compareWith]="filterCompareWith"
            (clear)="onChange()"
            (remove)="onChange()">
        </app-custom-multi-select>
    }
    <!-- Filter definition for filters without group options -->
    @if (!filter().filterDefinition.group) {
        <app-custom-multi-select
            [id]="filter().name"
            [name]="filter().name"
            [multiple]="true"
            bindLabel="name"
            [placeholder]="'Type ' + filter().name"
            (add)="onChange()"
            [items]="filter().filterDefinition.options"
            [markFirst]="false"
            [closeOnSelect]="false"
            [(ngModel)]="filter().filterDefinition.selectedOptions"
            [compareWith]="filterCompareWith"
            (clear)="onChange()"
            (remove)="onChange()">
        </app-custom-multi-select>
    }
</div>
