<div class="hero-banner hb-sm">
    <div class="container">
      <div class="container-inner">
        <div class="hero-banner__content">
          <h1>Process & Procedures</h1>
          <p>Learn more about how the Environmental Assessment Office neutrally administers a process that is predictable, transparent,
            timely, procedurally fair, and holds all participants accountable.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="static-content">
    <div class="container" id="anchor-point">
        <div class="row">
          <main class="mb-0">
            <section>
              <p>On December 16th, 2019, the new Environmental Assessment Act (2018) came in to force. Many projects with an environmental assessment already underway will continue under the old Act (2002) process, while any new projects after December 16th, 2019 will undergo an environmental assessment under the new Act (2018) process.</p>
              <p>Please select below which environmental assessment process you would like information about:</p>
            </section>

            <a class="btn content-btn-dark page-bottom-btn" title="View more information" href="https://www2.gov.bc.ca/gov/content?id=AF29E35F5F9F4ACE91BF59F5FA25BF54"> 2002 Environmental Assessment Act </a>
            <a class="btn content-btn-dark page-bottom-btn" title="View more information" href="https://www2.gov.bc.ca/gov/content?id=E0DC041CBB194136A0C14B8A2F829A16"> 2018 Environmental Assessment Act </a>

          </main>
        </div>
      </div>
  </section>
