<td scope="row"
  data-label="Headline"
  class="col-10"
  tabindex="0">
  <div>
    <span class="font-weight-bold">{{rowData.project.name || '-'}}</span>
    @if (rowData.notificationName) {
      <span class="font-weight-bold">{{rowData.notificationName}}</span>
    }
    <br>
    <span>{{rowData.headline || '-'}}</span>
    <br>
    <br>
    <span [innerHtml]="getSafeHtml(rowData.content)"></span>
  </div>
  <br>
  <div style="display: flex; gap: 1rem; flex-wrap: wrap;">
    @if (isSingleDoc(rowData?.documentUrl) && !rowData?.documentUrl.includes('docs?folder')) {
      <a class="btn content-btn-alt"
        [href]="rowData.documentUrl"
        target="_blank"
        rel="noopener">
        @if (!rowData?.notificationName) {
          <span>View Document(s)</span>
        }
        @if (rowData.notificationName) {
          <span>View Project Notification Public Comment Period</span>
        }
      </a>
    }
    @if (rowData?.pcp) {
      <button class="btn content-btn-alt"
        (click)="goToCP(rowData)">
        <span>View Engagement</span>
      </button>
    }
  </div>
</td>
<td scope="row"
  data-label="Date"
  class="col-2"
  tabindex="0">{{rowData.dateAdded | date:'longDate'}}</td>

