.list-group-item {
  padding: 1rem;
  border-top: 2px solid var(--table-border-color);
  background-color: var(--table-row-bg);
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.list-group-item:first-child {
  border-top: none;
}

.list-group-item:hover {
  background-color: rgba(0, 123, 255, 0.05);
}



.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 0.25rem;
}

.commentInfo {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.badge {
  white-space: nowrap;
}
