
:host {
  display: flex;
  flex: 1;
}

.projects-view {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  min-height: 0;
}

.app-filters {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .app-filters {
    top: calc(var(--header-total-height) + 1rem);
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 48rem;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.25);
  }
}

@media (min-width: 1200px) {
  .app-filters {
    transition: left ease-out 0.2s;
  }
}

/* List Container */
.app-list-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 3rem;
  transform: translateX(-100%) translateX(-3rem);
  transition: transform ease-out 0.2s;
  border-top: 1px solid var(--bs-border-color);
}

@media (min-width: 768px) {
  .app-list-container {
    width: 22rem;
  }
}

@media (min-width: 1200px) {
  .app-list-container {
    border-top: none;
  }
}

.toggle-app-list-btn {
  position: absolute;
  top: 0.5rem;
  right: -39px;
  padding: 0;
  width: 40px;
  height: 3rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.25);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--bs-white);
  transition: left ease-out 0.2s;
  clip: rect(0,3.5rem,3.5rem,0);
}

.toggle-app-list-btn i {
  margin-top: 0.4rem;
  margin-right: 0.1rem;
  font-size: 1.875rem;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity ease-out 0.2s;
}

/* Container for the List and Map components */
.app-list-map-container {
  flex: 1;
  position: relative;
  min-height: 0; /* Important for flexbox children */
}

/* Only apply loading effects to list and map, never filters */
.app-list-container,
.app-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Project List Open / Closed State */
.app-list-open .app-list-container {
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.25);
  transform: translateX(0) translateX(-3rem);
}

.app-list-open .overlay {
  opacity: 1;
  transform: translateX(0);
}

@media (min-width: 768px) {
  .app-list-open .overlay {
    display: none;
  }
}

@media (min-width: 1200px) {
  .app-list-open .app-filters {
    left: calc(50% + 12.5rem);
  }
}
