<app-hero-banner
  [title]="heroBannerTitle"
  [description]="heroBannerDescription"
  [actions]="heroBannerActions"
/>

<section class="py-5">
  <div class="container" id="anchor-point">
    <div class="content-wrapper">
      <p>The Environmental Assessment Office's work doesn't end when a project receives an Environmental Assessment Certificate.</p>
      <p>Compliance and enforcement is an important part of the Environmental Assessment process, and helps ensure certificate holders are following the conditions designed to minimize the potential for adverse effects from a project on environmental, cultural, health, social, and economic values.</p>
      <p>The Environmental Assessment Office works with the other provincial government agencies to oversee projects that have successfully completed an environmental assessment.</p>
    </div>
  </div>
</section>
