<div class="hero-banner hb-sm">
    <div class="container">
      <div class="container-inner">
        <div class="hero-banner__content">
          <h1>Compliance Oversight</h1>
          <p>Learn about how we collaborate with other government agencies to coordinate oversight of projects that have successfully completed an environmental assessment.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="activities-section">
    <div class="container" id="anchor-point">
      <main>
        <section class="mb-0">
            <p>The Environmental Assessment Office’s work doesn’t end when a project receives an Environmental Assessment Certificate. Compliance and enforcement is an important part of the Environmental Assessment process, and helps ensure certificate holders are following the conditions designed to minimize the potential for adverse effects from a project on environmental, cultural, health, social, and economic values.</p>
            <p>The Environmental Assessment Office works with the other provincial government agencies to oversee projects that have successfully completed an environmental assessment.</p>
            <p>For more information about the Environmental Assessment Office’s Compliance and Enforcement view the policies and procedures.</p>
        </section>
        <a class="btn content-btn-dark page-bottom-btn" title="View compliance and enforcement policies and procedures" href="https://www2.gov.bc.ca/gov/content/environment/natural-resource-stewardship/environmental-assessments/compliance-and-enforcement"> View Compliance & Enforcement Policies and Procedures </a>
      </main>
    </div>
  </section>
