<app-hero-banner
  [title]="heroBannerTitle"
  [description]="heroBannerDescription"
  [actions]="heroBannerActions"
/>

<div class="bg-faded">
  <section class="container">
    <div class="feature-cards-container">
      @for (card of infoCards; track card.title) {
        <div class="feature-card">
          <app-info-card
            [title]="card.title"
            [description]="card.description"
            [icon]="card.icon"
            [button]="card.button"
          />
        </div>
      }
    </div>
  </section>
</div>
