<div>
  <div class="row mb-3 mt-2" tabindex="0">
    <div class="col-12">
      <h4>{{rowData().name?.toUpperCase() || '-'}}</h4>
    </div>
  </div>
  
  <div class="row mb-4" tabindex="0">
    <div class="col-12">
      <div class="pn-decision">
        @if (rowData().associatedProjectId) {
          <a [routerLink]="['/p', rowData().associatedProjectId]">
            <p class="value">{{ decisionText() }}</p>
          </a>
        } @else {
          <p class="value">{{ decisionText() }}</p>
        }
      </div>
    </div>
  </div>

  <div class="row mb-4" tabindex="0">
    <div class="col-12 pn-info-block">
      <span class="info-label">Description:</span>
      <p class="value" [innerHTML]="(rowData().description || '-') | newlines"></p>
    </div>
  </div>
  
  <div class="row" tabindex="0">
    <div class="col-sm-12 col-md-4 pn-info-block">
      <span class="info-label">Type</span>
      <p class="value">{{rowData().type || "-"}}</p>
    </div>
    <div class="col-sm-12 col-md-4 pn-info-block">
      <span class="info-label">Location</span>
      <p class="value">{{rowData().location || "-"}}</p>
    </div>
    <div class="col-sm-12 col-md-4 pn-info-block">
      <span class="info-label">Proponent</span>
      <p class="value">{{rowData().proponent || "-"}}</p>
    </div>
    <div class="col-sm-12 col-md-4 pn-info-block">
      <span class="info-label">Sub-Type</span>
      <p class="value">{{rowData().subType || "-"}}</p>
    </div>
    <div class="col-sm-12 col-md-4 pn-info-block">
      <span class="info-label">Region</span>
      <p class="value">{{rowData().region || "-"}}</p>
    </div>
    <div class="col-sm-12 col-md-4 pn-info-block">
      <span class="info-label">Notification Trigger</span>
      <p class="value">{{ getTrigger(rowData()) || '-' }}</p>
    </div>
  </div>
</div>


