@import "~assets/styles/base/base.scss";

.active-flag {
  background: #5bb75c;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 3px 8px 4px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.inactive-flag {
  background: red;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 3px 8px 4px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.fixedWidth {
  width: 100px;
}

h4 {
  color: #003366;
  font-weight: bold;
}

.view-pcp-btn {
  background: #003366;
  color: white;
  float: right;
}

.pcp-indicator {
  background: #f7f8fa;
  border-radius: 16px;
  border: 2px solid #f7f8fa;
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 10px;
}
.pcp-indicator-active {
  background: #07a209d1;
}

.pcp-indicator-inactive {
  background: #d20e0ebf;
}

.pn-location-info {
  padding: 0 20px 20px 20px;
  .pn-info-block {
    padding: 10px 10px 10px 15px;
    vertical-align: top;
    p,
    a {
      font-size: medium;
    }
  }
  .pn-decision {
    background: #4c81af;
    border-radius: 6px;
    margin-left: 10px;
    margin-top: 10px;
    p,
    a {
      color: white;
      border-radius: 2px;
    }
    .value {
      padding: 5px 10px 2px 10px;
      font-weight: bold;
    }
  }
  h4 {
    color: #003366;
    font-weight: bold;
  }
  label {
    font-weight: bold;
    color: $primary;
    margin-bottom: 0;
    line-height: 1.2;
  }
  p {
    font-size: 1rem;
  }
  .value {
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .organization-item {
    margin-top: 0;
    color: white;
    background-color: white;
    border-radius: 4px 4px 0 0;
    padding: 7px 10px;
    width: 100%;
    text-align: center;
    p {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
}

.tab-section {
  min-height: 500px;
}
