<div class="hero-banner">
  <div class="container">
    <div class="container-inner">
      <div class="hero-banner__content">
        <div tabindex="0">
          <h1>{{ title() }}</h1>
          <p>{{ description() }}</p>
        </div>
        @if (actions().length > 0) {
          <div class="hero-banner__actions d-flex flex-column flex-sm-row gap-3">
            @for (action of actions(); track action.label) {
              @if (action.routerLink) {
                <a 
                  class="btn slide-l-btn" 
                  [routerLink]="action.routerLink"
                  [title]="action.title || action.label">
                  @if (action.icon) {
                    <i class="material-icons">{{ action.icon }}</i>
                  }
                  <span>{{ action.label }}</span>
                </a>
              } @else if (action.href) {
                <a 
                  class="btn slide-l-btn" 
                  [href]="action.href"
                  [target]="action.target || '_self'"
                  [rel]="action.rel || ''"
                  [title]="action.title || action.label">
                  @if (action.icon) {
                    <i class="material-icons">{{ action.icon }}</i>
                  }
                  <span>{{ action.label }}</span>
                </a>
              }
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>
