<div class="spinner-container"
  *ngIf="loading">
  <div class="spinner-new rotating"></div>
</div>

<main *ngIf="!loading">
  <div class="container">
    <div class="hero-banner__content">
      <h1>Environmental Assessments in British Columbia</h1>
      <p>Use the list below to navigate to individual Projects. Click on any project to go
        directly to its details page.</p>
    </div>
    <search-filter-template #explorePanel
      [keywordOverride]='queryParams.keywords'
      (searchEvent)='executeSearch($event)'>
    </search-filter-template>
  </div>

  <section class="project-list table-container">
    <div class="container">
      <h1>Activities & Updates</h1>
      <br>
      <lib-table-template *ngIf="tableData.totalListItems > 0"
        [data]="tableData"
        (messageOut)="onMessageOut($event)">
      </lib-table-template>
    </div>
  </section>
</main>