<main>
  <app-hero-banner [title]="'Activities & Updates'"
    [description]="'Find activities and updates for environmental assessment projects in British Columbia. Click on the project info button to view the project details page.'"
    [backgroundImage]="'/assets/images/hero-banner.jpg'">
  </app-hero-banner>

  <section class="project-list table-container">
    <div class="container">
      <section class="mb-4 pt-0 pb-0">
        <search-filter-template (searchEvent)='executeSearch($event)' [searching]="loading()">
        </search-filter-template>
      </section>
      @if (!loading() && tableData().totalListItems === 0) {
      <div class="text-center my-5">
        <p class="text-muted">No activities found</p>
      </div>
      } @else {
      <lib-table-template [data]="tableData()" [loading]="loading()" (messageOut)="onMessageOut($event)">
      </lib-table-template>
      }
    </div>
  </section>
</main>
