<td data-label="Name"
  class="col-3">
  {{rowData.displayName}}
</td>
<td data-label="ProjectName"
  class="col-2">
  <a
    [attr.aria-label]="'Link to project ' + rowData.project.name"
    (click)="goToProject(rowData)"
    (keyup.enter)="goToProject(rowData)"
    tabindex="0"
    role="link"
    style="cursor: pointer;">{{rowData.project.name}}</a>
</td>
<td data-label="Date"
  class="col-2">
  @if (rowData.datePosted !== '1900-01-01T08:00:00.000Z') {
    <div>{{rowData.datePosted | date:'longDate'}}</div>
  }
</td>
<td data-label="Type"
  class="col-2">{{idToList(rowData.type)}}</td>
<td data-label="Milestone"
  class="col-2">{{idToList(rowData.milestone)}}</td>
<td data-label="Download"
  class="col-1 d-flex justify-content-center">
  <span class="material-icons download-icon"
    (click)="goToItem(rowData)"
    (keyup.enter)="goToItem(rowData)"
    tabindex="0"
    [attr.aria-label]="'Download document button'">cloud_download</span>
</td>
