/* Download icon styles */
.download-icon {
    color: var(--font-color);
    cursor: pointer;
}

.download-icon:hover {
    color: var(--gold);
    transform: scale(1.1);
}

.download-icon-wrap {
    padding: 0;
}
