@import "../../../assets/styles/base/base.css";

.download-icon {
    color: var(--font-color);
    cursor: pointer;
}

.download-icon:hover {
    color: var(--gold);
    transform: scale(1.1);
}

td[data-label="ProjectName"]:hover {
    color: var(--gold) !important;
}
