<td (click)="goToItem(rowData)" data-label="★" scope="row" class="col-1">
  <i class="material-icons featured-star" aria-hidden="true">star</i>
</td>
<td (click)="goToItem(rowData)" data-label="Name" scope="row" class="col-3">
  {{rowData.displayName}}
</td>
<td (click)="goToItem(rowData)" data-label="Date" scope="row" class="col-2">{{rowData.datePosted | date:'longDate'}}
</td>
<td (click)="goToItem(rowData)" data-label="Type" scope="row" class="col-2">{{idToList(rowData.type)}}</td>
<td (click)="goToItem(rowData)" data-label="Milestone" scope="row" class="col-2">{{idToList(rowData.milestone)}}</td>
<td (click)="goToItem(rowData)" data-label="Phase" scope="row" class="col-2">{{idToList(rowData.projectPhase)}}</td>