<div class="spinner-container" *ngIf="loading">
  <div class="spinner-new rotating"></div>
</div>

<h2>Activities and Updates</h2>

<section>
  <search-filter-template
    #explorePanel
    [keywordOverride]='queryParams.keywordsActivities'
    (searchEvent)='executeSearch($event)'>
  </search-filter-template>
</section>

<section class="tab-section">
  <div *ngIf="tableData.totalListItems === 0">
    No recent activities.
  </div>

  <lib-table-template-2
    *ngIf="!loading && tableData.totalListItems > 0"
    [data]="tableData"
    (messageOut)="onMessageOut($event)">
  </lib-table-template-2>
</section>