@if (!loading()) {
  <h3 #activitiesHeader>Activities and Updates</h3>

  <search-filter-template
    #explorePanel
    [keywordOverride]='queryParams["keywordsActivities"]'
    (searchEvent)='executeSearch($event)'>
  </search-filter-template>

  <section class="tab-section">
    @if (tableData().totalListItems === 0) {
      <div>
        No recent activities.
      </div>
    } @else {
      <lib-table-template
        [data]="tableData()"
        (messageOut)="onMessageOut($event)">
      </lib-table-template>
    }
  </section>
}
