@import "~assets/styles/base/base.scss";

tr:hover {
    cursor: pointer;
    background-color: #e2f1ff;
}

.inputCheckBox {
  cursor: pointer;
}

.featured-star {
    color: #ffc107;
}

.un-featured-star {
    color: #6a6a6a;
}
