<td data-label="★"
    (click)="goToItem(rowData)"
    scope="row"
    class="col-1"
    *ngIf="currentUrl !== 'search' && rowData.showFeatured">
    <i *ngIf="rowData.isFeatured === true"
        class="material-icons featured-star"
        aria-hidden="true">star</i>
</td>
<td data-label="Name"
    (click)="goToItem(rowData)"
    scope="row"
    [ngClass]="(rowData.showFeatured) ? 'col-3' : 'col-4'">
    {{rowData.displayName}}
</td>

<td data-label="Date"
    (click)="goToItem(rowData)"
    scope="row"
    class="col-2">
    <div *ngIf="rowData.datePosted !== '1900-01-01T08:00:00.000Z'">{{rowData.datePosted | date:'longDate'}}</div>
</td>

<td data-label="Type"
    (click)="goToItem(rowData)"
    scope="row"
    class="col-2">{{idToList(rowData.type)}}</td>
<td data-label="Milestone"
    (click)="goToItem(rowData)"
    scope="row"
    class="col-2">{{idToList(rowData.milestone)}}</td>
<td data-label="Phase"
    (click)="goToItem(rowData)"
    scope="row"
    class="col-2">{{idToList(rowData.projectPhase)}}</td>