.input-group-prepend {
  flex-wrap: wrap;
}

.input-group-prepend button {
  margin: 0px 10px 10px 0;
}

textarea,
input[type="text"] {
  border-radius: 2px;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #ababab;
  font-size: 1rem;
}

textarea:focus,
input[type="text"]:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-color: #5091cd;
}

.btn-search-help {
  margin-bottom: 5px;
}

.search-area {
  background-color: white;
  border: 1px solid lightgray;
}

.main-search-field {
  margin-left: 0px;
  padding: 8px;
}

.show-advanced-search-button .btn {
  float: right;
  margin-right: 8px !important;
  width: 200px;
}

.advanced-search {
  position: relative;
}

.advanced-search .project-filter {
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 93px;
  margin-bottom: 10px;
}

.advanced-search .filter-border {
  border: solid 1px lightgray;
  padding: 15px;
  min-width: 155px;
}

.advanced-search .milestone-filters {
  margin-left: 8px;
}

.advanced-search .date-filters {
  margin-left: 147px;
}

.advanced-search .author-filters {
  margin-left: 331px;
}

.advanced-search .author-filters .filter-border {
  min-width: 230px;
}

.advanced-search .type-filters {
  margin-left: 528px;
}

.advanced-search .projectPhase-filters {
  margin-left: 8px;
}

.advanced-search .sub-filter {
  margin-left: 0px;
  margin-bottom: -15px;
}

.advanced-search .btn {
  margin: 8px 0px 8px 8px;
}

.advanced-search .milestone-btn {
  width: 130px;
}

.advanced-search .date-btn {
  width: 175px;
}

.advanced-search .author-btn {
  width: 190px;
}

.advanced-search .calendar {
  margin: 0px;
}

.advanced-search .date-range {
  margin-left: -15px;
}

.advanced-search .date-range .form-control {
  z-index: 0px !important;
}

.advanced-search .form-check label {
  padding-left: 0.25rem;
  font-size: 1rem;
}

.advanced-search .search-button {
  position: absolute;
  right: 8px;
  bottom: -8px;
}

.advanced-search .search-button-above-disclaimer {
  position: absolute;
  right: 8px;
  bottom: 63px;
}

.results {
  color: black;
}

.btn-group-toggle > .btn {
  margin-bottom: 0;
  background: none;
  color: #13477b;
  border: 1px solid #858b99;
  font-weight: 600;
}

.btn-group-toggle > .btn:hover {
  background: #fcb118;
}

.btn-group-toggle > .btn.active {
  background: #235383;
  color: #fff;
}

.search-disclaimer {
  font-size: 12px;
  line-height: 20px;
  margin: 8px 8px 8px 0px;
  padding-left: 12px;
  color: gray;
}
