<div class="tab-pane"
    role="tabpanel">
    <section class="tab-section">
        <div class="spinner-container"
            *ngIf="loadingLists || loadingTableParams || loadingtableData">
            <div class="spinner-new rotating"></div>
        </div>

        <section *ngIf="!loadingLists && !loadingTableParams && !loadingtableData"
            class="mb-4 pt-0 pb-0">
            <search-filter-template #explorePanel
                (searchEvent)='executeSearch($event)'
                [advancedFilters]="true"
                [showAdvancedFilters]="showAdvancedFilters"
                [searchOnFilterChange]="true"
                [filters]="filters"
                (resetControls)='tableData.sortBy.includes("score") ? tableData.sortBy = "-datePosted" : null'
                (toggleFiltersPanelEvent)="showAdvancedFilters = $event.showPanel"
                [searchHelpLinkArray]='["/search-help"]'>
            </search-filter-template>
        </section>

        <lib-table-template-2 *ngIf="tableData.totalListItems > 0"
            [data]="tableData"
            (messageOut)="onMessageOut($event)">
        </lib-table-template-2>

        <div *ngIf="tableData.totalListItems === 0">
            No results found.
        </div>
    </section>
</div>