<div class="tab-pane" role="tabpanel">
  <section class="tab-section">
    <section class="mb-4 pt-0 pb-0">
        <search-filter-template
          #explorePanel
          (searchEvent)="executeSearch($event)"
          [advancedFilters]="true"
          [showAdvancedFilters]="showAdvancedFilters()"
          [searchOnFilterChange]="true"
          [filters]="filters()"
          (resetControls)="onResetControls()"
          (toggleFiltersPanelEvent)="onToggleFiltersPanel($event)"
          [searchHelpLinkArray]="['/search-help']">
        </search-filter-template>
      </section>

    @if (tableData().totalListItems > 0) {
      <lib-table-template
        [data]="tableData()"
        (messageOut)="onMessageOut($event)">
      </lib-table-template>
    }

    @if (tableData().totalListItems === 0) {
      <div>
        No results found.
      </div>
    }
  </section>
</div>
