@import "~assets/styles/base/base.scss";


.project-info {
    display: block;
}

/*
    Project
*/


.project {
    background: white;

    .container {
        padding: 40px 15px 40px;
    }

/*
    PCP banner
*/

    .banner {
        background-color: #EFEFEF;
        color: #003366;

        .btn {
            color: #003366;
            border-color: #003366;
        }
    }

/*
    Side Banner
*/

    .side-banner {

        background-color: #003366;

        div {
            padding: 6px 8px 6px 6px;
            text-decoration: none;
            font-size: 20px;
            display: block;
        }

        h1 {
            display: inline-block;
        }
        .desc {
            margin: 0 0 30px;
        }
        .proj-status {
            display: inline-block;
            font-size: 1.2rem;
            font-weight: 700;
            margin: 0 0 8px 10px;
            color: #fcba18;
            text-transform: uppercase;
        }
        .ea-decision {
            color: white;
            font-size: 1rem;
            border: 2px solid white;
            padding: 5px 10px;
            font-weight: bold;
            display: inline-block;
            margin: 5px 0 15px 0;
        }


        .basic-info {
            width: 100%;

            .info-block {
                p, a {
                    font-size: small;
                    color: white;
                }
            }

            @media (min-width: 767px) {
                display: inline-block;
            }

            > div {
                padding: 0 0 0 0;
                .hyperlink {
                    text-decoration: underline;
                }
                max-width: 100%;
            }

            hr {
                background-color: grey ;
                margin: 30px 0 20px 0;
            }

            label {
                font-weight: bold;
                color: #fcba18;
                font-size: 1rem;
                padding-bottom: 5px;
            }
            p {
                font-size: 1rem;
                display: block;
            }
        }
        .legislation-button {
            margin-top: 20px;
            label {
                font-weight: bold;
                color: #fcba18;
                font-size: 1rem;
            }
            p {
                font-size: 1rem;
                display: block;
                margin-left: 1px;
            }
        }
    }

/*
    Map
*/

    .map-wrapper {
        width: 100%;
        height: 250px;
        padding-top: 10px;
        margin-bottom: 30px;
    }

    .map-item {
        position: relative;
        height: 250px;
        color: black;
        .container {
            position: relative;
            @media (min-width: 400px) {
                padding-right: 280px;
            }
        }
        .map-container {
            padding: 10px 0 10px 0;
            display: block;
            position: relative;
            overflow: hidden;
        }
        .map {
        position: relative;
            min-height: 250px;
            height: 250px;
            outline: none;
            touch-action: none;
            background-color: $map-bg;
        }
    }

    .map-item__no-results {
        text-align: center;
        position: absolute;
        background: grey;
        z-index: 2000;
        width: 100%;
        height: 250px;
    }

/*
    main
*/

    main {
        font-size: .9rem;

        section {
            word-wrap: break-word;
            padding: 1rem 0;

            .row {
                margin-right: -16px;
                margin-left: -16px;
                @media (max-width: 767px) {
                display: inline-block;
                font-size: 1rem;
                .value,
                p {
                    font-size: 1rem;
                }
                .col-6 {
                    max-width: 100%;
                    margin-bottom: 12px;
                }
                }
            }
        }
        .proj-status,
        .shape-id {
            font-size: 1.2rem;
            font-weight: bold;
            color: $primary;
            margin-bottom: 5px;
        }
        .col-6 {
            margin-bottom: 2px;
        }
        label {
            font-weight: bold;
            color: $primary;
            margin-bottom: 0;
            line-height: 1.2;
        }
        .value {
            font-size: .8rem;
            line-height: 1.25;
            margin-bottom: 5px;
        }
        .organization-item {
            margin-top: 0;
            color: #fff;
            background-color: #38598a;
            border-radius: 4px 4px 0 0;
            padding: 7px 10px;
            width: 100%;
            text-align: center;
            p {
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
        .project-item {
            &__commenting {
                background-color: white;
                margin-bottom: 8px;
                padding: 7px 1rem;
            }
        }
        .location-info {
            @media (min-width: 991px) {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 550px;
            }
            border: 2px solid #003365;
            padding: 35px 40px 40px;
            h2 {
                background: #fff;
                color: #003364;
                @media (min-width: 991px) {
                padding: 0 8px;
                position: absolute;
                top: -25px;
                left: 30px;
                }
            }
            label,
            p {
                font-size: 1rem;
            }
        }

        .shape-info-item {
            hr {
                margin: 1rem 0;
            }
        }
        .nav-tabs {
            background: none;
        }
        .project-tabs {
            background: white;
        }
        .nav-tabs .nav-link.active {
            background: white;
        }
    }

/*
    Contacts
*/

    .people {
        background: #f7f7f7;
        color: black;

        a {
            color: black;
            text-decoration: underline;
        }

        h2{
            color: #003366;
        }

        h3 {
            margin-bottom: .5rem;
            letter-spacing: -.02rem;
            font-size: 1rem;
            font-weight: 700;
            color: #003366;
        }
        p {
            font-size: 1rem;
            i {
                vertical-align: bottom;
            }
        }

        .flex-container {
            padding: 0 20px 0 20px;
            display: block;
            .inner-col {
                display: inline-block;
                padding: 10px 10px 10px 0;
                p, a {
                    font-size: small;
                }
            }
        }
    }
}
