<div class="project">
    <main>
        <div class="project-info">
           <details-sidebar [project]="project" (onSidebarToggle)="handleSidebarToggle($event)"></details-sidebar>
            <div class="content">
                <div *ngIf="project.commentPeriodForBanner" class="pcp-banner col-sm-12 {{ !sidebarOpen && 'closed' }}">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="mb-0">Public Comment Period is {{project.commentPeriodForBanner.commentPeriodStatus}}</h2>
                                <h5>{{project.commentPeriodForBanner.dateStarted | date: 'MMMM d'}} -
                                {{project.commentPeriodForBanner.longEndDate.format('MMMM DD @ hh:mm z')}}</h5>
                            </div>
                            <div class="col-md-6 text-right">
                                <div *ngIf="project.commentPeriodForBanner.commentPeriodStatus !== Open">
                                <button type="button" class="btn content-btn-dark" (click)="goToViewComments()">
                                    View Comment Period
                                </button>
                                &nbsp;
                                <button class="btn content-btn-dark" (click)="addComment()" type="button"
                                    *ngIf="project.commentPeriodForBanner.commentPeriodStatus === 'Open'">Submit Comment</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p *ngIf="project.commentPeriodForBanner.informationLabel" class="mb-0 info">
                                This Public Comment Period is regarding the <b>{{project.commentPeriodForBanner.informationLabel}}</b>
                                </p>
                                <div *ngIf="project.commentPeriodForBanner.informationLabel == null" class="mb-0 info">
                                    <div id="instructions" [innerHTML]="project.commentPeriodForBanner.instructions  | safeHtml"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-content col-sm-12 {{ sidebarOpen ? 'col-md-8' : 'wide' }}">
                    <div *ngIf="project.projectCAC">
                      <div class="row">
                        <div class="col float-right text-right">
                          <i class="align-bottom material-icons" role="presentation" wiid="C937">person</i>
                          <span class="cursor-pointer btn-link" (click)="learnMore()">Become a Community Advisory Committee Member</span>
                        </div>
                      </div>
                    </div>
                    <section class="project-tabs">
                    <div class="container">
                        <div class="tab-container">
                        <div role="navigation">
                            <ul class="nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation" *ngFor="let tabLink of tabLinks">
                                <a class="nav-link" role="tab" [routerLink]="tabLink.link" [replaceUrl]="true"
                                routerLinkActive="active" *ngIf="tabLink.display === true">{{tabLink.label}}</a>
                            </li>
                            </ul>
                        </div>
                        <router-outlet></router-outlet>
                        </div>
                    </div>
                    </section>
                </div>
            </div>

            <section class="people {{ sidebarOpen ? 'open' : 'closed' }}">
                <div class="container">
                        <h2>Contacts</h2>
                        <div class="flex-container">
                            <div class="flex-item" *ngIf="project?.projectLeadObj == null">
                                <h3>Project Lead</h3>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">person</i>{{project?.projectLead || "-"}}</p>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">phone</i>{{project?.projectLeadPhone || "-"}}</p>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">email</i><a
                                    href="mailto:{{project?.projectLeadEmail}}">{{project?.projectLeadEmail || "-"}}</a></p>
                            </div>
                            <div class="flex-item" *ngIf="project?.projectLeadObj">
                                <h3>Project Lead</h3>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">person</i>{{project?.projectLeadObj?.displayName || "-"}}</p>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">phone</i>{{project?.projectLeadObj?.phoneNumber || "-"}}</p>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">email</i><a
                                    href="mailto:{{project?.projectLeadObj?.email}}">{{project?.projectLeadObj?.email || "-"}}</a></p>
                            </div>
                            <div class="flex-item" *ngIf="project?.responsibleEPDObj == null">
                                <h3>Executive Project Director</h3>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">person</i>{{project?.responsibleEPD || "-"}}</p>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">phone</i>{{project?.responsibleEPDPhone || "-"}}</p>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">email</i><a
                                    href="mailto:{{project?.responsibleEPDEmail}}">{{project?.responsibleEPDEmail || "-"}}</a></p>
                            </div>
                            <div class="flex-item" *ngIf="project?.responsibleEPDObj">
                                <h3>Executive Project Director</h3>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">person</i>{{project?.responsibleEPDObj?.displayName || "-"}}</p>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">phone</i>{{project?.responsibleEPDObj?.phoneNumber || "-"}}</p>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">email</i><a
                                    href="mailto:{{project?.responsibleEPDObj?.email}}">{{project?.responsibleEPDObj?.email || "-"}}</a></p>
                            </div>
                            <div class="flex-item">
                                <h3>Compliance & Enforcement Lead</h3>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">person</i>Compliance & Enforcement Branch</p>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">phone</i>250-387-0131</p>
                                <p class="value"><i _ngcontent-c11="" class="material-icons mr-3" role="presentation"
                                    wiid="C937">email</i><a href="mailTo:eao.compliance@gov.bc.ca">eao.compliance@gov.bc.ca</a></p>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </main>
</div>
