<div class="spinner-container"
    *ngIf="loadingLists || loadingTableParams">
    <div class="spinner-new rotating"></div>
</div>

<main *ngIf="!loadingLists && !loadingTableParams">
    <div class="container">
        <div class="hero-banner__content">
            <h1>Project Notifications in British Columbia</h1>
            <div class="h4 sub-text">Use the list below to navigate Project Notifications. A Project Notification is
                required if
                a proposed
                project meets the notification thresholds in the Reviewable Projects Regulation, indicating that while
                the project is not automatically reviewable, it may have the potential to cause adverse effects and
                warrants further review to determine if the project requires an Environmental Assessment.
                <a href='https://www2.gov.bc.ca/gov/content/environment/natural-resource-stewardship/environmental-assessments/environmental-assessment-process/project-notifications'
                    target='_blank'
                    rel=noopener>Learn More</a>
            </div>

        </div>
    </div>

    <section class="project-list table-container">
        <div class="container">
            <section class="mb-4 pb-0">
                <search-filter-template #explorePanel
                    (searchEvent)='executeSearch($event)'
                    [advancedFilters]="true"
                    [showAdvancedFilters]="showAdvancedFilters"
                    [searchOnFilterChange]="true"
                    [filters]="filters"
                    (resetControls)='tableData.sortBy.includes("score") ? tableData.sortBy = "-datePosted" : null'
                    (toggleFiltersPanelEvent)="showAdvancedFilters = $event.showPanel"
                    [searchHelpLinkArray]='["/search-help"]'
                    [searching]="loadingTableData">
                </search-filter-template>
            </section>
            <lib-table-template-2 *ngIf="tableData.totalListItems > 0"
                [data]="tableData"
                (messageOut)="onMessageOut($event)">
            </lib-table-template-2>
            <div *ngIf="tableData.totalListItems === 0">
                No results were found.
            </div>
        </div>
    </section>
</main>