@import "~assets/styles/base/base.scss";

.project-list {
  &__options {
    @include flex(0 0 auto);
    padding: 1rem 0rem;
    mat-slide-toggle {
      white-space: normal;
    }
  }
}

.table-container {
  background-color: white;
}

.sub-text {
  line-height: 150%;
}
