<div class="hero-banner hb-sm">
  <div class="container">
    <div class="container-inner">
      <div class="hero-banner__content">
        <h1>Unsubcribe from Community Advisory Committee</h1>
        <p>Please confirm the email you used to sign up to the Community Advisory Committee.</p>
      </div>
    </div>
  </div>
</div>

<section class="static-content mt-2">
  <div class="container" id="anchor-point">
    @if (loading()) {
      <div class="spinner-container">
        <div class="spinner-new rotating"></div>
      </div>
    }

    @if (!success()) {
      <div class="row">
        <main class="m-5">
          <form>
            <div class="form-group">
              <span class="control-label">Project</span>
              <div class="form-control-container">
                <span>{{projectName()}}</span>
              </div>
            </div>
            <div class="form-group">
              <label for="emailInput" class="control-label">Email Address</label>
              <input 
                readonly 
                required 
                email 
                class="form-control" 
                type="text" 
                name="emailInput" 
                id="emailInput" 
                [ngModel]="emailInput()" 
                (ngModelChange)="emailInput.set($event)"
                />
              <button class="btn content-btn-dark mt-2 me-2" (click)="unsubscribe()">
                <span>Unsubscribe</span>
              </button>
              <button class="btn content-btn-dark mt-2 " (click)="cancel()">
                <span>Cancel</span>
              </button>
            </div>
            <div class="form-group">
              <p>If you are experiencing any issues with unsubscribing please send an email to <a href="mailto:EAO.EPICsystem@gov.bc.ca">EAO.EPICsystem@gov.bc.ca</a></p>
            </div>
          </form>
        </main>
      </div>
    }

    @if (success()) {
      <div class="row">
        <p>You have been unsubscribed successfully.  Click <button class="btn content-btn-dark" (click)="cancel()">
          <span>here</span>
        </button> to go back to the homepage.</p>
      </div>
    }
  </div>
</section>
