<div class="spinner-container" *ngIf="loadingLists || loadingTableParams">
    <div class="spinner-new rotating"></div>
</div>

<main *ngIf="!loadingLists && !loadingTableParams">
    <div class="hero-banner">
        <div class="container">
            <div class="hero-banner__content">
                <h1>Environmental Assessments in British Columbia</h1>
                <p>
                    Use the list below to navigate to individual Projects. Click on
                    any project to go directly to its details page.
                </p>
                <div class="hero-banner__actions">
                    <div class="hero-banner__actions-buttons">
                        <a class="btn slide-l-btn hero-btn inverted" [routerLink]="['/search']"
                            [queryParams]="documentSearchQueryParams">
                            <em class="material-icons">search</em><span>Search All Documents</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="project-list table-container">
        <div class="container">
            <section class="mb-4 pt-0 pb-0" id="table-container-section">
                <search-filter-template
                    #explorePanel
                    (searchEvent)="executeSearch($event)"
                    [advancedFilters]="true"
                    [showAdvancedFilters]="showAdvancedFilters"
                    [searchOnFilterChange]="true"
                    [filters]="filters"
                    (resetControls)="
                        tableData.sortBy.includes('score')
                            ? (tableData.sortBy = '-datePosted')
                            : null
                    "
                    (toggleFiltersPanelEvent)="
                        showAdvancedFilters = $event.showPanel
                    "
                    [searchHelpLinkArray]="['/search-help']"
                    [searching]="loadingTableData"
                >
                </search-filter-template>
            </section>
            <div *ngIf="tableData.totalListItems === 0">No results found.</div>
            <lib-table-template-2
                *ngIf="tableData.totalListItems > 0"
                [data]="tableData"
                (messageOut)="onMessageOut($event)"
            >
            </lib-table-template-2>
        </div>
    </section>
</main>
