@if (loadingLists() || loadingTableParams()) {
  <div class="spinner-container">
    <div class="spinner-new rotating"></div>
  </div>
}

@if (!loadingLists() && !loadingTableParams()) {
  <main>
    <app-hero-banner
      title="Environmental Assessments in British Columbia"
      description="Use the list below to navigate to individual Projects. Click on any project to go directly to its details page."
      [actions]="[{
        label: 'Search All Documents',
        icon: 'search',
        routerLink: '/search',
        title: 'Search All Documents'
      }]"
    />

    <section class="project-list table-container">
      <div class="container">
        <section class="mb-4 pt-0 pb-0">
          <search-filter-template #explorePanel
            (searchEvent)='executeSearch($event)'
            [advancedFilters]="true"
            [showAdvancedFilters]="showAdvancedFilters()"
            [searchOnFilterChange]="true"
            [filters]="filters()"
            (toggleFiltersPanelEvent)="showAdvancedFilters.set($event.showPanel)"
            [searchHelpLinkArray]='["/search-help"]'
            [searching]="loadingTableData()">
          </search-filter-template>
        </section>
        @if (tableData().totalListItems > 0) {
          <lib-table-template
            [data]="tableData()"
            (messageOut)="onMessageOut($event)">
          </lib-table-template>
        }
      </div>
    </section>
  </main>
}
