<div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
</div>

<main *ngIf="!loading">
    <div class="container">
        <div class="hero-banner__content">
            <h1>Environmental Assessments in British Columbia</h1>
            <p>Use the list below to navigate to individual Projects. Click on any project to go
                directly to its details page.</p>
            <div class="hero-banner__actions">
                <div class="hero-banner__actions-buttons">
                    <a class="btn slide-l-btn hero-btn inverted" href="/search" [routerLink]="['/search']">
                        <i class="material-icons">search</i><span>Search All Documents</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section class="project-list table-container">
        <div class="container">
            <app-table-template [columns]="projectTableColumns"
                                [data]="projectTableData"
                                [showSearch]="true"
                                (onSearch)='executeSearch($event)'
                                [showAdvancedSearch]="true"
                                [filters]="filters"
                                [persistenceId]="'globalProjSearch'">
            </app-table-template>
        </div>
    </section>
</main>
