.lib-page-size-message {
  margin-left: 10px;
}

.size-picker-option {
  margin-right: 0.0625rem;
  padding: 0.1875rem 0.625rem;
  outline: none;
  box-shadow: none;
}

.size-picker-option:not(.current):hover {
  background: var(--bs-secondary-bg);
  border-radius: 6px;
  border-color: var(--bs-secondary-bg);
  transition: none;
}

.current {
  padding: 0.1875rem 0.625rem;
  color: var(--bs-white);
  background: var(--bs-primary);
  border-radius: 6px;
  border-color: var(--bs-primary);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .lib-page-size-display {
    text-align: center;
  }

  .lib-page-size-message {
    margin: 0;
  }
}

button:focus {
  border-color: black;
}
