<div *ngIf="loading" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="!loading" class="project">
  <main class="project-info">
    <div class="hero-banner-alt">
      <div class="container">
        <div class="hero-banner__content">
          <h1>{{project?.name || '-'}}</h1>
        
        <div class="header-section" *ngIf="commentPeriod !== null && commentPeriod._id == commentPeriod._id">
          <h2>{{commentPeriodHeader}}</h2>
          <h2>{{commentPeriod.dateStarted | date:'mediumDate'}} - {{commentPeriod.longEndDate.toFormat('MMMM dd @ hh:mm a ZZZZ')}}</h2>
          
          <div *ngIf="commentPeriod.informationLabel !== null">
            <div id="instructions" [innerHTML]="commentPeriod.instructions  | safeHtml"></div>
            <br>
            <p>{{commentPeriod.additionalText}}</p>
            <br>
            <p>{{commentPeriod.informationLabel}}</p>
          </div>
          <div *ngIf="commentPeriod.informationLabel === null">
            <div id="instructions" [innerHTML]="commentPeriod.instructions  | safeHtml"></div>
          </div>
          
          <div class="d-flex justify-content-end">
            <button class="btn btn-light" (click)="addComment()" type="button"
              *ngIf="commentPeriod.commentPeriodStatus === 'Open'">Submit Comment</button>
          </div>
        </div>

        <span *ngIf="type === 'PROJECT'" class="ea-decision">{{project?.eacDecision?.name || "-"}}</span>
        <div *ngIf="type === 'PROJECT'" class="basic-info">
          <div>
            <label>Proponent</label>
            <p class="value">{{project?.proponent?.name || "-" | titlecase}}</p>
          </div>
          <div>
            <label>Type</label>
            <p class="value">{{project?.type || "-" | titlecase}}</p>
          </div>
          <div>
            <label>Sub-type</label>
            <p class="value">{{project?.sector || "-" | titlecase}}</p>
          </div>
        </div>

        <!-- Related Documents -->
        <div class="mb-3" *ngIf="commentPeriodDocs && commentPeriodDocs.length > 0">
          <div class="card">
            <div class="card-header">Related Documents</div>
            <ul class="doc-list mb-0">
              <li class="clickable-row" *ngFor="let doc of commentPeriodDocs" (click)="downloadDocument(doc)">
                <span class="cell icon">
                  <i class="material-icons">insert_drive_file</i>
                </span>
                <span class="cell name" [title]="doc.displayName || ''">
                  <span class="cell__txt-content">{{doc.displayName}}</span>
                </span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Open Houses -->
        <div class="mb-3" *ngIf="commentPeriod && commentPeriod.openHouses && commentPeriod.openHouses.length > 0">
          <div class="card">
            <div class="card-header">Open Houses</div>
            <ul class="list-group mb-0">
              <li class="list-group-item" *ngFor="let openHouse of commentPeriod.openHouses">
                <h6 class="mb-2"><b>Date:</b>&nbsp;{{openHouse.eventDate | date}}</h6>
                <h6 class="mb-0"><b>Description:</b>&nbsp;{{openHouse.description}}</h6>
              </li>
            </ul>
          </div>
        </div>

        </div>
        
        <button class="btn btn-sm inverted" (click)="goBackToProjectDetails()" type="button">
          {{type === 'PROJECT' ? 'Back to Project Details' : 'Back to Project Notifications'}}
        </button>
      </div>
    </div>
  </main>
</div>

<div *ngIf="!loading" class="container comments">
  <div *ngIf="tableData.totalListItems > 0">
    <lib-table-template 
      [data]="tableData" 
      (messageOut)="onMessageOut($event)">
    </lib-table-template>
  </div>
  <div *ngIf="tableData.totalListItems == 0">
    There are no comments.
  </div>
</div>