<section class="tab-section">
  @if (loading()) {
    <div class="spinner-container">
      <div class="spinner-new rotating"></div>
    </div>
  }
  @if (!loading() && tableData().totalListItems !== 0) {
    <div>
      @if (tableData().totalListItems > 0) {
        <lib-table-template
          [data]="tableData()"
          (messageOut)="onMessageOut($event)">
        </lib-table-template>
      }
    </div>
  }
  @if (tableData().totalListItems === 0) {
    <div>
      There are no application documents associated with this project.
    </div>
  }
</section>
