<section class="tab-section">
  <section class="mb-4 pt-0 pb-0">
    <search-filter-template
      (searchEvent)="executeSearch($event)"
      [advancedFilters]="true"
      [showAdvancedFilters]="showAdvancedFilters()"
      [searchOnFilterChange]="true"
      [filters]="filters()"
      (resetControls)="onResetControls()"
      (toggleFiltersPanelEvent)="onToggleFiltersPanel($event)"
      [searchHelpLinkArray]="['/search-help']">
    </search-filter-template>
  </section>

  @if (loading()) {
    <div class="spinner-container">
      <div class="spinner-new rotating"></div>
    </div>
  }
  
  @if (!loading() && tableData().totalListItems > 0) {
    <lib-table-template
      [data]="tableData()"
      (messageOut)="onMessageOut($event)">
    </lib-table-template>
  }
  
  @if (!loading() && tableData().totalListItems === 0) {
    <div>
      There are no application documents associated with this project.
    </div>
  }
</section>

