<tr>
  <td scope="row"
    data-label="Headline">
    <div class="col-10"
      tabindex="0">
      @if (rowData.project?.name) {
        <span class="font-weight-bold">{{rowData.project.name}}</span>
        <br>
      }
      @if (rowData.notificationName) {
        <span class="font-weight-bold">{{rowData.notificationName}}</span>
        <br>
      }
      <span>{{rowData.headline || '-'}}</span>
      <br>
      <br>
      <span [innerHTML]="rowData.content"></span>
      <br>
      <br>
      @if (rowData.project?._id && rowData.type !== 'Project Notification News') {
        <a class="btn btn-sm btn-outline-primary me-1"
          [routerLink]="['/p', rowData.project._id ]">
          <span>Project Info</span>
        </a>
      }
      @if (rowData.project?._id && rowData.type === 'Project Notification News') {
        <a class="btn btn-sm btn-outline-primary me-1"
          href="/project-notifications">
          <span>View Project Notifications Page</span>
        </a>
      }
      @if (isSingleDoc(rowData?.documentUrl) && rowData?.documentUrl && !rowData.documentUrl.includes('docs?folder')) {
        <a class="btn btn-sm btn-outline-primary me-1"
          [href]="rowData.documentUrl"
          target="_blank"
          rel="noopener">
          @if (!rowData?.notificationName) {
            <span>View Document(s)</span>
          }
          @if (rowData.notificationName) {
            <span>View Project Notification Public Comment Period</span>
          }
        </a>
      }
      @if (rowData?.pcp) {
        <button class="btn btn-sm btn-outline-primary"
          (click)="goToCP(rowData)">
          <span>View Engagement</span>
        </button>
      }
    </div>
  </td>
  <td scope="row"
    data-label="Date"
    class="col-2"
    tabindex="0">{{rowData.dateAdded | date:'longDate'}}</td>
</tr>
